{% extends 'base.html' %}

{% block title %}

    carrinho - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Meu carrinho</b></h5>
        <br />
            <a href="{% url 'cart:add_cart' %}">adicionar ao carrinho</a>
            <br />
            <br />
            <div class="row">
            <div class ="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Preço</th>
                            <!-- <th scope="col"></th> -->
                            <th scope="col"></th>
                        </tr>   
            </thead>
            <tbody>
                {% for item in carts %}
                    {% if item.is_cart == True %}
                    <tr>
                        <th scope="row">{{ item.id }}</th>
                        <td>{{ item.name }}</td>
                        <td>{{ item.category }}</td>
                        <td>R${{ item.price }}</td>
                    
                        <td>    
                            <a href="#" class="btn btn-danger btn-sm" onclick="confirmDelete('{{ item.id }}')">Excluir</a>
                        </td>                    
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <script>
        function confirmDelete(itemId) {
            var confirmation = confirm("Tem certeza que deseja excluir este pedido?");
            if (confirmation) {
                // Se o usuário confirmar, redirecione para a URL de exclusão
                window.location.href = "{% url 'core:delete_cart' 0 %}".replace('0', itemId);
            }
        }
    </script>
{% endblock body %}