{% extends 'base.html' %}

{% block title %}
    {{ block.super }}
{% endblock title %}

{% block body %}

<!-- Codigo html especifico desse arquivo -->
<div class="products">
    <br />
    <h5><b>Lista de Produtos</b></h5>
    <br />
    <div class="row">
        <div class ="col-md-12">
            <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Nome</th>
                <th scope="col">Categoria</th>
                <th scope="col">Preço</th>
                <th scope="col"></th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <th scope="row">{{ product.id }}</th>
                        <td>{{ product.name }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ price }}</td>
                    </tr> 
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock body %}