{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        .navbar-brand {
            font-weight: bold;
        }
        .navbar-nav {
            margin-left: auto;
        }
        .navbar-toggler {
            border-color: #fff;
        }
    </style>
    <title>{% block title %}Restaurante Genérico{% endblock title %}</title>
</head>
<body>
    <!-- INICIO: Bloco do Bootstrap a ser incluído -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Restaurante Genérico</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
          {% if user.is_authenticated %}
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/produtos">Cárdapio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/address">Endereço</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/hours">Horários</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Fale Conosco</a>
            </li>
          </ul>
          <span class="navbar-text">
            <a href="/view-orders" class="btn btn-info">Meus Pedidos</a>
            <a href="/cart" id="cart_button" class="btn btn-light" style="color:black;">Meu Carrinho <i class="fa fa-shopping-cart" style="font-size:24px;"></i></a>
  
            <button type="button" class="btn btn-dark" onclick="login()">Login</button>
          </span>
          {% endif %}
        </div>
      </nav>
    <!-- FIM: Bloco do Bootstrap a ser incluído -->
    {% block body %}

    {% endblock body %}
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>