{% extends 'base.html' %}

{% block body %}

    <div class="container">
        <br />
        <h1>Login</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="username" class="form-label">Usuário</label>
              <input type="text" class="form-control" name="username" id="username" >
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Senha</label>
              <input type="password" class="form-control" name="password" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-secondary">Entrar</button>
          </form>
    </div>
    
{% endblock body %}